<!DOCTYPE html>
<html>
<head>
<title>Potage-toit</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('images/01.png');">
  <!-- ################################################################################################ -->
  <div class="wrapper overlay">
    <header id="header" class="hoc clear">
      <nav id="mainav" class="clear">
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li class="active"><a href="index.html">Acceuil</a></li>
          <li><a href="#agri">Agriculture urbaine</a></li>
          <li><a href="#projet">Projet</a></li>
          <li><a href="#link">Liens</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <div class="introtxt">
        <img src="images/logo-left.png" alt="">
        <p class="font-xs nospace">avec le soutien de la</p>
        <img src="images/bxl-logo.png" alt="">
        <h2 class="heading">REGION DE BRUXELLES-CAPITALE</h2>
      </div>
    </article>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3" id="agri">
  <main class="hoc container clear">
      <div class="center btmspace-50" >
      <h2 class="heading">Agriculture urbaine</h2>
      <p>D’ici 2015, près de 26 villes à travers le monde auront dépassé les 10 millions d’habitants.
        Pour nourrir une ville de cette taille, au moins 6 000 tonnes de nourriture doivent être importées chaque jour.
        Dans le cas de la région Bruxelles-Capitale il s’agit de nourrir 1.1 millions d’habitants.
        Le transport de ces marchandises est exclusivement possible grâce à l’extraction de ressources fossiles qui
        dégradent notre environnement.
      </p>
      <a href="#av">En savoir plus &raquo;</a>
    </div>

  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div id="av"></div>
<div class="bgded overlay" style="background-image:url('images/1.jpg');">
  <section id="testimonials" class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h2 class="heading">LES AVANTAGES</h2>
      <p>Économiques et Environnement </p>
    </div>
    <ul class="nospace group">
      <li class="one_half first">
        <div class="clear"><img src="images/eco.jpg" alt=""><span class="block"><strong>Économiques</strong></span>
          <ul>
            <li>La mise à profit d’espaces inutilisés</li>
            <li>Autoproduction de fruits et de légumes</li>
          </ul>
          <a href="#">En savoir plus &raquo;</a>
        </div>
      </li>
      <li class="one_half">
        <div class="clear"><img src="images/env.jpg" alt=""><span class="block"><strong>Environnement</strong></span>
          <ul>
            <li>Sensibilisation à l’environnement</li>
            <li>Le verdissement et l’embellissement</li>
          </ul>
          <a href="#">En savoir plus &raquo;</a>
        </div>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div id="projet"></div>
<div class="wrapper row3">
  <section class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="center btmspace-50">
      <h2 class="heading">Projets actifs</h2>
      <p>Fringilla nisi ut arcu facilisis gravida nullam bibendum nisi risus id viverra felis pharetra eu donec ut lorem risus nullam iaculis lacinia massa et accumsan urna laoreet fermentum etiam ipsum enim bibendum id varius.</p>
    </div>
    <ul class="nospace elements">
      <li class="one_third first">
        <article><a href="#"><img src="images/logo-kbr.png" alt=""></a>
          <div class="txtwrap">
            <h6 class="heading">KBR</h6>
            <p>Ante pulvinar hendrerit ipsum ut scelerisque sapien purus sit amet&hellip;</p>
            <footer><a href="#">En savoir plus &raquo;</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><img src="images/logo-pt.png" alt=""></a>
          <div class="txtwrap">
            <h6 class="heading">Potage-Toit</h6>
            <p>Sagittis in aenean porta semper tortor vel blandit magna integer ac&hellip;</p>
            <footer><a href="#">En savoir plus &raquo;</a></footer>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><img src="images/lapousse.png" alt=""></a>
          <div class="txtwrap">
            <h6 class="heading">La pousse qui pousse</h6>
            <p>Neque malesuada euismod proin sit amet nisl velit mauris orci nisl&hellip;</p>
            <footer><a href="#">En savoir plus &raquo;</a></footer>
          </div>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div id="link"></div>
<div class="wrapper coloured">
  <div class="hoc clear">
    <!-- ################################################################################################ -->
    <figure id="logos">
      <ul class="nospace group">
        <li><a href="#"><img src="images/demo/logo.png" alt=""></a></li>
        <li><a href="#"><img src="images/demo/logo.png" alt=""></a></li>
        <li><a href="#"><img src="images/demo/logo.png" alt=""></a></li>
        <li><a href="#"><img src="images/demo/logo.png" alt=""></a></li>
        <li><a href="#"><img src="images/demo/logo.png" alt=""></a></li>
      </ul>
      <figcaption class="hidden"><a class="btn small" href="#">More &raquo;</a></figcaption>
    </figure>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div id="contact"></div>
<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Elementum aliquet</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890<br>
          +00 (123) 456 7890</li>
        <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Nibh aenean lacinia</h6>
      <ul class="nospace linklist">
        <li><a href="#">Mattis est suscipit posuere</a></li>
        <li><a href="#">Nunc lacus sodales urna nec</a></li>
        <li><a href="#">Fermentum ipsum augue id</a></li>
        <li><a href="#">Ex laoreet urna sollicitudin</a></li>
        <li><a href="#">Luctus nulla vitae tincidunt</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Suscipit magna sed</h6>
      <p class="btmspace-30">Varius libero molestie habitasse sed platea dictumst proin.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_quarter">
      <h6 class="title">Sed elit nullam</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Scelerisque lacus </a></h2>
            <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
            <p class="nospace">A metus luctus quis hendrerit sed vel elit ac mauris facilisis&hellip;</p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Vehicula tortor</a></h2>
            <time class="font-xs block btmspace-10" datetime="2045-04-05">Thirsday, 5<sup>th</sup> April 2045</time>
            <p class="nospace">Ornare elit sed quam ultricies non rhoncus mauris ornare&hellip;</p>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right"></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
<!-- IE9 Placeholder Support -->
<script src="layout/scripts/jquery.placeholder.min.js"></script>
<!-- / IE9 Placeholder Support -->
</body>
</html>
